<div class="container my-40">

    <footer class="text-center text-lg-start" style="background-color:pink;padding: 20px;margin: auto;">
      <!-- Facebook -->
      <a class="fa fa-github-square"  href="https://github.com/shashikala133" target="_blank" ></a>
      &nbsp;
      <a  class="fa fa-solid fa-envelope" style="size: 50px;" target="_blank" >   sshashikala133@gmail.com</a>
      &nbsp; 
     
        <a   class="fa fa-linkedin-square" href="https://www.linkedin.com/in/shashikala-5883101a5/" target="_blank" ></a>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022:Shashikala, Phoneno: <span style="color:blue;">7349156812</span>
        <a class="text-white" href="https://mdbootstrap.com/"></a>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->
