<h1 style="text-align:center;color: white;margin-bottom: 25px;">Education details</h1>
<!--<div class="fit">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Qualification/Degree</th>
        <th scope="col">Institution Name</th>
        <th scope="col">Board/University</th>
        <th scope="col">Stream</th>
        <th scope="col">City</th>
        <th scope="col">Passing year</th>
        <th scope="col">Percentile/cgpa</th>
    </tr>
</thead>
    <tr>
        <td>B.E</td>
        <td>NMAM Institute of Technology</td>
        <td>NITTE University</td>
        <td>Information science</td>
        <td>Karkala</td>
        <td>2023</td>
        <td>8.99</td>
    </tr>
    <tr>
        <td>12th</td>
        <td>R.N.Shetty Composite Pre University College</td>
        <td>Department of 
            Pre-University 
            Education,
            Government of 
            Karnataka
            </td>
        <td>Science(PCMB)</td>
        <td>Kundapura</td>
        <td>2019</td>
        <td>95.33%</td>
    </tr>
    <tr>
        <td>10th</td>
        <td>Government 
            High School Siddapura
            </td>
        <td>Karnataka
            Secondary 
            Edcation 
            Examination 
            Board
            </td>
        <td></td>
        <td>Siddapura</td>
        <td>2017</td>
        <td>98%</td>
    </tr>
</table>
</div>-->

<table class="table" style="width: 100%;">
    <thead>
      <tr>
        
        <th scope="col">Qualification/Degree</th>
        <th scope="col">Institution Name</th>
        <th scope="col">Board/University</th>
        <th scope="col">Stream</th>
        <th scope="col">City</th>
        <th scope="col">Passing year</th>
        <th scope="col">Percentile/cgpa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>B.E</td>
        <td>NMAM Institute of Technology</td>
        <td>NITTE University</td>
        <td>Information science</td>
        <td>Karkala</td>
        <td>2023</td>
        <td>8.99</td>
      </tr>
      <tr>
        
        <td>12th</td>
        <td>R.N.Shetty Composite Pre University College</td>
        <td>Department of 
            Pre-University 
            Education,
            Government of 
            Karnataka</td>
        <td>Science(PCMB)</td>
        <td>Kundapura</td>
        <td>2019</td>
        <td>95.33%</td>
      </tr>
      <tr>
        
        <td>10th</td>
        <td>Government 
            High School Siddapura</td>
        <td>Karnataka
            Secondary 
            Edcation 
            Examination 
            Board</td>
        <td></td>
        <td>Siddapura</td>
        <td>2017</td>
        <td>98%</td>
      </tr>
    </tbody>
  </table>



<br>
<h3>Languages</h3>
<ul>
    <li>English</li>
    <li>Kannada</li>
</ul>
<br>
<h3>Hobbies</h3>
<ul>
    <li>Competitive Coding</li>
    <li>Reading books</li>
    <li>Mandala Art</li>
    <li>Listening to Podcasts</li>
</ul>
