body div {
  width: 100vw;
  height: 100vh;
  background: red;
}
.container {
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: fit-content;
    color: aliceblue;
    margin-top: 30px;
  }
  
  /* button style */
  button {
    color: #fff;
    padding: 5px 20px;
    margin: 10px;
    font-size: 19px;
    text-transform: uppercase;
    width: 300px;
    border-radius: 15px;
    background-color: #ff00d4;
  }
  .img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 300px;
    text-align: right;
    text-align: center;
    float: right;
    overflow: auto;
    margin-right: auto;
    
  }
  .div1{
    background-color: #ea0bb9;
    margin: auto;
    vertical-align: middle;
     width: 38vw;
     height: fit-content;
    border:3px solid blue;
   
    padding: 30px;
   
    
  }
  .name{
    color:aqua;
  }

  .img{
    border:3px solid white; 
    border-radius: 50%;
  }
  .content{
   height: fit-content;
   width: fit-content;
  }