<h1 style="text-align:center;color: white;margin-bottom: 25px;">Project</h1>
<div class="card-deck" style="width: 50rem; margin: auto;">
    <div class="card">
      <img src="assets/logo.png" class="card-img-top" alt="..."/> <a href="https://drive.google.com/file/d/1dxVaqiYdBEaIAEc8XVj0fSPHLA7QOlpk/view?usp=sharing" >VideoChat(Click here)</a>
      <div class="card-body">
        <h5 class="card-title">VideoChat</h5>
        <p class="card-text">Web Application which helps two user to chat privately .</p>
      </div>
      <div class="card-footer">
        
      </div>
    </div>
    <div class="card">
      <img src="assets/notify.png" class="card-img-top" alt="...">
      <a href="https://drive.google.com/file/d/1ATibNWoi9prw4UG1oCTzfQKFcJiXtKiN/view?usp=sharing">NotifyMe(Click here)</a>
      <div class="card-body">
        <h5 class="card-title">NotifyMe</h5>
        <p class="card-text">Emergency message and Location sending mobile app.</p>
      </div>
      <div class="card-footer">
        
      </div>
    </div>
   
  </div>
